<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LFVBNewTPV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LFVBNewTPV.Properties.Settings>
            <setting name="CADENA_CONEXION" serializeAs="String">
                <value>server=127.0.0.1;database=TPV;user=root</value>
            </setting>
            <setting name="PROGRAMA_TECLADO" serializeAs="String">
                <value>osk.exe</value>
            </setting>
            <setting name="MODO_DEBUG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COD_IVA_DEF" serializeAs="String">
                <value>R18</value>
            </setting>
            <setting name="ACTIVAR_BARRA_BUSQ_RAP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CLIENTE_DEFECTO" serializeAs="String">
                <value>1001000000</value>
            </setting>
            <setting name="TPV_NUEVO_DESPUES_GUARDAR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TICKET_IMP_DEF" serializeAs="String">
                <value />
            </setting>
            <setting name="TPV_PIST_LINEA_AUTO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TPV_LIN_AGRUPAR_LINEAS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TPV_TICK_IMPRCOBR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TPV_DOC_GUARDARCOBR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TPV_COBR_COBROSCUENTE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TPV_DOC_BLOQUEARANT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TPV_DOC_GUARDASINLIQ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TPV_PROD_PERMITIR_SIN_EXISTENCIAS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PROD_RUTA_IMAGENES" serializeAs="String">
                <value>[APPBASE]\IMGPROD\</value>
            </setting>
            <setting name="TPV_TIPO_DOC_NUEVO_DEF" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="TPV_USO_TECLAS_RAPIDAS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WIN7_METODO_TECLADO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MYSQDUMP_RUTA" serializeAs="String">
                <value>C:\xampp\mysql\bin\mysqldump.exe</value>
            </setting>
        </LFVBNewTPV.Properties.Settings>
    </userSettings>
</configuration>